@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

// Custom css
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #445673;
}

a {
    color: #0065ad;
}

.card .text-value-lg {
    font-size: 2.5rem;
}

.btn-primary,
.page-item.active .page-link,
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #00a8e5;
    border-color: #00a8e5;
}

.btn-primary:hover {
    background-color: #0299d0;
    border-color: #0299d0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 4rem;
}

.card-header-action, .card-header-action:hover {
    padding: 0;
    color: #fff;
}

.dataTables_length {
  .custom-select {
    padding-right: 1.5rem;
  }
}
